@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --sar: env(safe-area-inset-right);
}

.pt-safe {
    padding-top: var(--sat);
}

.pb-safe {
    padding-bottom: var(--sab);
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Prevent bounce scroll on body */
    overscroll-behavior: none;
}

.btn-press {
    @apply active:scale-95 transition-transform duration-100;
}

#root {
    height: 100%;
    width: 100%;
}